*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;  
    box-sizing: border-box;    
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1%;
}
p {
    color: white;
}
#conc{
  color: black;
  margin-left: 2em;
  margin-right: 20px;
  margin-bottom: 3em;
}
#varia{
  color: black;
  margin-top: 0.4em;
  margin-left: 5em;
}
header{
    width: 100%;
    background: black;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
a { 
    color: inherit;
    text-decoration: none;
    font-size: 40px;
    color: white;
}
#titulo{
  margin-top: 0.25em;
    margin-left: 0.4em;
    font-size: 1.5em;
    font-weight: 300;
    color: #666;
}
.links{
    color: white;
    text-decoration: none;  
}
body{
    background-color: #1A4A5A;
}


.retangulo{  
  width: 30%;
    border-radius: 50px;
    background-color: #D9D9D9;
}


#right{
    width: 30%;
}
#esquerdo{
    width: 30%;
}
.wrapper-calc{
    width: 100%;
}
.wrapper-calc .container{
    padding-top: 14px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    /** padding: 20px; **/
    align-items: stretch;
}
.text{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
}

/** CSS DA CALCULADORA **/


#calc {
  width: 400px;
  /** padding: 0.5em; **/
  background-color: #c4c4c4;
  color: #000;
  display: flex;
  flex-direction: column;
}
h3{
  margin-left: 5.6em;
}

#calc h3 {
    margin-top: 0.25em;
    margin-left: 0.4em;
    font-size: 1.5em;
    font-weight: 300;
    color: #666;
}
#operations {
  text-align: right;
}
#previous-operation {
  color: #777;
  padding: 0.2em;
  overflow-wrap: break-word;
  min-height: 1.6em;
}
#current-operation {
  min-height: 1.6em;
  font-size: 3em;
  font-weight: 700;
  padding: 0.2em;
  overflow-wrap: break-word;
}
#buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px;
}
#buttons-container button {
  border: 1px solid transparent;
  border-radius: 0;
  height: 4em;
  font-size: 1.2em;
  background-color: #dbdbdb;
  cursor: pointer;
}
#buttons-container .number {
  background-color: #f3f3f3;
}
#buttons-container button:hover {
  background-color: #bababa;
  border-color: #999;
}
#buttons-container #equal-btn {
  grid-column: span 2;
  background-color: #75a5cb;
}
#buttons-container #equal-btn:hover {
  grid-column: span 2;
  background-color: #3a91d8;
}

/* CSS DO MENU */

#menu{
  width: 23px;
  height: 22.5px;
  display: block;
  cursor: pointer;
}

#menu:hover{
  color: blue;
}

.icone:hover{
  background-color: gray;
}



#itens{
  display: none;
  width: 300px;
  cursor: pointer;
  position: absolute;
  margin-top: 57px;
  margin-left: 2px;
  background-color: black;
} 

#itens > ul{
  list-style-type: none;
}

#itens > ul > li a{
  display: block;
  padding: 5px;
  text-decoration: none;
}
#itens li ul li:nth-child(-n+3) {
  display: none;
}
h2{
  margin-top: 20px;
  margin-bottom: 13px ;
  margin-left: 3.2em;
}
.Variaveis{
  margin-left: 4.5em;
  margin-top: 20px;
}
#retangulo{
  margin-top: 0.5em;
  margin-left: 6em;
  border-radius: 5px;
  border-color: white;
}

/*CSS LISTA DO RETÂNGULO*/
.simm{
  color: #000;
  font-size: 20px;
  margin-left: 15px;
}
 
.simm:hover{
  background-color: gray;
}
#ul_sim{
  margin-left: 5%;
  width: 90%;
}
 
#sim{
  margin-top: 8px;
  list-style-type: none;
}

.nao{
  color: black;
  background-color: white;
  font-size: 20px;
}

.nao:hover{
  background-color: gray;
}