*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;       
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1%;
}

p {
    color: white;
}
header{
    width: 100%;
    background: black;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
a { 
    color: inherit;
    text-decoration: none;
    font-size: 40px;
    color: white;
}
.links{
    color: white;
    text-decoration: none;  
}
body{
    background-color: #1A4A5A;
}
.retangulo{
    border-radius: 50px;
    background-color: #D9D9D9;
}
#right{
    width: 30%;
}
#esquerdo{
    width: 30%;
}
.retangulo{
    width: 30%;
    border-radius: 50px;
    background-color: #D9D9D9;
}

#calc{
    width: 30%;
    height: 500px;
    background-color: red;
    display: inline-block;
}

.wrapper-calc{
    width: 100%;
}

.wrapper-calc .container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: stretch;
}
.text{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
}